<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <div>
        <div>You are not logged in</div>
        <div class="btn-container">
            <a href="/login">
                <button>Login</button>
            </a>
            <a href="/register">
                <button>Register</button>
            </a>
        </div>
    </div>
</body>

</html>